* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  padding: 1rem 0.5rem;
}

a:hover {
  color: rgb(0, 255, 255);
}

hr {
  width: 5%;
  border: dotted #5adcdcbd 9px;
  border-bottom: none;
  margin: 50px auto;
}

/*****************************************/
/*****************************************/
/* HERO - HEADER SECTION */

a {
  text-decoration: none;
  color: #22a7a7f3;
}

ul {
  list-style-type: none;
  display: none;
}

li {
  font-size: 20px;
  border-radius: 5px;
  text-align: left;
}

.nav-list {
  margin: 0;
  font-family: "Libre Baskerville", serif;
  width: auto;
  position: fixed;
  left: 25px;
}

#hero {
  background-color: rgba(0, 0, 0, 0.89);
  height: auto;
  max-width: 100%;
  margin: 0;
  padding: 2rem 0 0 0;
}

#introduction {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-top: 15%;
  padding-bottom: 15%;
}

.container {
  /* background-color: pink; */
  /* text-align: center; */
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 6rem;
  color: whitesmoke;
  padding: 0;
  margin: 0;
}
#subhead {
  color: #d1d1d1bd;
  text-align: left;
}

#hero-icons-box {
  width: 100%;
  padding-top: 50px;
}
#hero-icon {
  font-size: 3rem;
  color: white;
  padding: 0.5rem 1rem;
}
#hero-icon:hover {
  color: cyan;
}
#hero-block {
  display: flex;
  box-sizing: content-box;
  margin: auto;
  width: 70%;
  /* text-align: center; */
}

#main-img {
  max-width: 100%;
  margin: 0px;
  padding: 2.5rem;
}
#hero-right {
  text-align: left;
  border-left: 5px solid rgba(37, 223, 177, 0.582);
  padding: 30px 0 10px 50px;
  width: 50%;
}
#hero-left {
  width: 50%;
  text-align: center;
}
/*****************************************/
/*****************************************/
/* ABOUT ME SECTION */

h2 {
  text-align: center;
  padding: 2rem 0rem;
  margin: 0;
  font-family: "Libre Baskerville", serif;
  font-size: 35px;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  padding: 1rem;
}

#lang-and-tools {
  font-family: "Libre Baskerville", serif, italic;
  font-size: 20px;
  position: relative;
  bottom: 40px;
  text-align: right;
  width: auto;
}

p {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

#about-me {
  background-color: rgba(255, 255, 255, 0.801);
}

#about-cont {
  /* background-color: #5c5a5841; */
  height: 900px;
}
#about-container {
  display: flex;
  height: auto;
}

.about-pars {
  width: 60%;
  margin: 5% 0 0 5%;
  text-align: left;
  padding: 2rem;
  position: relative;
  bottom: 250px;
  background-color: rgba(71, 220, 246, 0.75);
  z-index: 2;
}

.hero-img {
  width: 250px;
  border-radius: 50%;
  position: relative;
  top: 60px;
  left: 350px;
  z-index: 5;
  box-shadow: 3px 3px 7px #48d4ca;
}
#outer-box {
  padding: 80px 0 0 0;
  max-height: 500px;
  /* background-color: teal; */
}

#languages {
  padding: 0 0 50px 0;
  margin: 0;
}
#tech-stack {
  height: 400px;
  max-width: 30%;
  margin: 5rem 2rem;
  background-color: rgba(191, 238, 252, 0.603);
  padding: 10px;
}

.lang-logo {
  height: 80px;
  padding: 1rem 0;
  margin: 0 1rem;
}

/*****************************************/
/*****************************************/
/* Portfolio */

#projects-title {
  color: white;
}

#portfolio {
  background-color: rgba(0, 0, 0, 0.89);
  height: auto;
  padding-bottom: 100px;
}
td {
  width: 50%;
}

/* min-width: 100%;
  min-height: 100%; */

.project {
  background-color: white;
  margin: 1.5rem;
  padding: 1rem;
  max-width: 100%;
  height: 450px;
  border: 7px solid rgba(65, 148, 142, 0.24);
}

.project:hover {
}

.project-image {
  max-width: 350px;
  height: auto;
  border-radius: 5px;
}
.proj-name {
  margin: 1rem 2rem;
  padding: 0;
  text-align: left;
  width: auto;
}
.proj-desc {
  margin: 1rem 2rem;
  padding: 0;
  text-align: left;
  width: 90%;
  font-size: 16px;
}

/*****************************************/
/*****************************************/
/* Blog */

#blog {
  background-color: rgba(255, 255, 255, 0.801);
  height: auto;
  padding-bottom: 50px;
}

#written-intro {
  width: 100%;
  margin: auto;
  text-align: left;
  font-size: 20px;
  margin-bottom: 50px;
}

.story-card {
  background-color: rgba(0, 0, 0, 0.8);
  width: 80%;
  margin: 1rem auto;
  border-radius: 10px;
  display: flex;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.blog-preview {
  padding: 1rem;
  width: 90%;
}

.story-title {
  text-align: left;
  font-family: "Libre Baskerville", serif, italic;
  font-size: 19px;
  padding: 0rem 0;
}

.story-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #aaaaaa;
  /* padding: 1rem; */
  margin: 1rem;
}

.story-desc {
  font-size: 16px;
  text-align: left;
  /* padding: 1rem; */
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

/*****************************************/
/*****************************************/
/* Contact Me */

#contact {
  background-color: white;
  height: auto;
  padding-bottom: 100px;
}

label {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 0.5rem;
}
form {
  box-sizing: border-box;
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

textarea {
  width: 100%;
}
#contact-button {
  height: 40px;
  width: 100%;
  margin: 50px 0;
  background-color: rgba(0, 255, 255, 0.734);
  /* background-color: rgb(41, 236, 236); */
  border-radius: 5px;
}

.fas {
  font-size: 25px;
}

#contact-button:hover {
  height: 40px;
  width: 100%;
  margin: 50px 0;
  background-color: rgb(26, 145, 145);
  border-radius: 5px;
}

/*****************************************/
/*****************************************/
/* Footer */

h6 {
  font-size: 20px;
}

footer {
  height: auto;
  background-color: rgb(26, 145, 145);
  padding: 1rem;
  color: whitesmoke;
}

.fab {
  font-size: 25px;
}

/*****************************************/
/*****************************************/
/* Animations */

[aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
}
